// Colors
$accent: #b8bfcc;
$background-main: #f0f0f0;
$background-secondary: #CCBE9F;
$background-white: #fff;
$border-bottom-color: grey;
$font-dark: #382119;

// Details
$font: Lato, Arial, sans-serif;
$box-shadow-buttons: 10px 10px 10px rgba(0, 0, 0, 0.05);
$box-shadow-cards: 10px 10px 10px rgba(0, 0, 0, 0.03);
$default-center: center;
