// Colors
$background-main: #f0f0f0;
$background-white: #fff;
$background-light: #E0DCD3;
$background-medium: #CCBE9F;
$background-dark: #382119;
$font-dark: #382119;
$accent: #ABC3C9;
$border-bottom-color: grey;
$login-form: #fff;
