@import '_mediaqueries.scss';
@import '_variables.scss';
@import '_mixins.scss';
@import '~flatpickr/dist/flatpickr.css';

// Main page
* {
  box-sizing: border-box;
  color: $font-dark;
  font-family: $font;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: $background-main;
  outline: none;
}

ul {
  list-style: none;
}
// Header
h1 {
  font-size: 500%;
  font-weight: 200;
  padding-top: 3%;
  text-align: $default-center;
  text-transform: uppercase;
  top: 25%;
  word-spacing: 10px;
}

header {
  @include adjust-container();
  background-image: url("../images/robson-hatsukami-morgan-qr7tsSwDOg0-unsplash.jpg");
  background-size: auto;
  height: 50vh;
}

// Login page
.landing-page {
  @include adjust-container();
}

.container {
  @include adjust-container();
  background-color: $background-white;
  border-radius: 1px;
  height: 40em;
  margin: 5em;
  padding: 50px 100px;
  width: 25em;
}

.items {
  @include flex-adjust-direction(column);
}

.items input {
  background-color: transparent;
  border-bottom: 1.5px solid;
  border-bottom-color: $border-bottom-color;
  border-radius: 1px;
  font-weight: 700;
  color: $font-dark;
  margin-bottom: 30px;
  padding: 2px 0 5px;
  width: 250px;
}

#title {
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-align: $default-center;
}

// Navigation Bar
.nav {
  @include flex-adjust-justify (space-evenly);
}

// Buttons, input fields, and dropdowns
button {
  @include button($background-white, 120%, 300, 10px 15px);
  box-shadow: $box-shadow-buttons;
}

.book-room-btn,
.cancel-room-btn,
#sign-in-button {
  @include button($accent, medium, 600, 20px 30px);
  letter-spacing: 5px;
  margin: 30px 0px;
}

.menu-item {
  @include button(transparent, 100%, 400, 3px);
  box-shadow: none;
}

input {
  @include input-selection-fields();
  cursor: text;
  width: 60%;
}

select {
  @include input-selection-fields();
}

#manager-logout {
  padding-left: 800px;
}

#customer-name-selection {
  height: 43px;
}

// Loaded user page
.main-page {
  @include adjust-container();
}

.message-banner {
  margin-top: 50px;
}

// Detailed information pages
.category-container {
  @include flex-wrap(space-evenly);
  background-color: $background-secondary;
  padding: 15px;
  width: 100%;
}

.rooms-to-book-container {
  @include flex-wrap(space-between);
  align-items: center;
  margin: 50px;
}

.room-card {
  background-color: $background-white;
  border-radius: 5px;
  box-shadow: $box-shadow-cards;
  filter: opacity(.8);
  height: auto;
  margin: 15px;
  width: 350px;
}

.room-card-title {
  font-size: 140%;
  padding: 15px;
  text-align: $default-center;
}

.room-card-details-container {
  text-align: $default-center;
}

.room-card-details {
  display: block;
  margin-block-end: 1em;
  margin-block-start: 1em;
  margin-inline-end: 0;
  margin-inline-start: 0;
}

.customer-filter-date {
  @include flex-adjust-justify(center);
  margin: 10px;
}

label {
  font-size: 120%;
  font-weight: bold;
}

// Footer
footer {
  height: 100px;
  p {
    text-align: $default-center;
    padding-top: 40px;
  }
}
