@import '_variables';
@import '_mixins.scss';
@import '~flatpickr/dist/flatpickr.css';

// Main page
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato, Arial, sans-serif;
  color: $background-dark;
}

body,
html {
  background-color: $background-main;
  outline: none;
  cursor: default;
}

ul {
  list-style: none;
}

// Header
h1 {
  padding-top: 3%;
  top: 25%;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  font-size: 500%;
  word-spacing: 10px;
}

header {
  height: 50vh;
  // background-color: $background-light;
  background-image: url('../images/robson-hatsukami-morgan-qr7tsSwDOg0-unsplash.jpg');
  background-size: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// Login page
.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 100px;
  background-color: $login-form;
  border-radius: 1px;
  width: 25em;
  height: 40em;
}

.items {
  display: flex;
  flex-direction: column;
}

.items input {
  margin-bottom: 30px;
  padding: 2px 0px;
  padding-bottom: 5px;
  width: 250px;
  background-color: transparent;
  border: none;
  border-bottom: 1.5px solid;
  border-bottom-color: $border-bottom-color;
  border-radius: 1px;
  font-weight: 700;
  color: $background-dark;
  // opacity: 0.55;
}

#title {
  margin-bottom: 50px;
  letter-spacing: 5px;
  text-align: center;
  // opacity: 0.5;
}

#sign-in-button {
  padding: 20px 30px;
  margin-top: 30px;
  border: none;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 5px;
  border-radius: 1px;
  cursor: pointer;
  background: #b8bfcc;
}

// Navigation Bar
.nav {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-evenly;
  padding-top: 20px;
}

button,
input, select {
  border: 0px;
  padding: 10px 15px;
  font-size: 120%;
  font-weight: 300;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);
}

#manager-logout {
  padding-left: 800px;
}

#customer-name-selection {
  height: 43px;
}

button {
  border-radius: 5px;
  cursor: pointer;
}

input {
  cursor: text;
  width: 60%;
  border-radius: 5px;
}

input:hover,
button:hover {
  opacity: 1;
  transition: opacity, 1s;
}

// Loaded user page
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message-banner {
  margin-top: 50px;
}

// Details page
.category-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-evenly;
  padding: 15px;
  width: 100%;
  background-color: $background-medium;
}

// Menu bar
.menu-item {
  background: transparent;
  box-shadow: none;
  font-weight: 400;
  padding: 3px;
  font-size: 100%;
}

// Rooms view
.rooms-to-book-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 50px;
}

.room-card {
  background-color: $background-white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.03);
  filter: opacity(.8);
  height: auto;
  margin: 15px;
  width: 350px;
}

.room-card-title {
  font-size: 140%;
  padding: 15px;
  text-align: center;
}

.room-card-details-container {
  text-align: center;
}

.room-card-details {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.book-room-btn, .cancel-room-btn {
  background: #b8bfcc;
  border-radius: 1px;
  border: none;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px 30px;
}

.customer-filter-date {
  display: flex;
  justify-content: center;
  margin: 10px;
}

label {
  font-size: 120%;
  font-weight: bold;
}

// Footer
footer {
  color: $background-dark;
  height: 100px;
  p {
    text-align: center;
    padding-top: 40px;
  }
}
